/* Write your CSS here */

.bg-container {
  background-color: #ffd569;
  height: 100vh;
  padding: 30px;
}
.card {
  border-radius: 10px;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
img {
  height: 130px;
  width: 150px;
}
.bottomContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.imageCard {
  width: 200px;
}
button {
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
span {
  color: #ffd569;
}
